@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
/* define the fonts and colors used in the project */
:root {
  --font: 'Open Sans', sans-serif;
  --color-bg: #383F51;
  --color-txt: #ffff;
  --color-bg-1: #f8f9fa;
  --color-bg-2: #ffffff;
  --color-home: #383F51;
  --color-about: #DDDBF1;
  --color-projects: #3C4F76;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
 --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
 --bs-body-font-family: Roboto Slab, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
 --bs-body-font-size: 1rem;
 --bs-body-font-weight: 400;
 --bs-body-line-height: 1.5;
 --bs-body-color: #212529;
 --bs-body-bg: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-x: hidden;
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

@keyframes blink {
	0% {opacity: 0}
	49%{opacity: 0}
	50% {opacity: 1}
}

.main-container{
  font-family: 'Press Start 2P', cursive;
  background-color: white;
}

.main-container h1 {
  text-align: center;
  line-height: 40px;
  letter-spacing: 5px;
  text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                   10px 20px 5px rgba(0,0,0,0.05),
                   -10px 20px 5px rgba(0,0,0,0.05);

}

.background-container{
  width: 95%;
  height: 90%;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-radius: 25px 0px 0px 0px;
  background-color: black;
}

.sidebar-container {
  position: absolute;
  width: 5%;
  height: 100%;
  background-color: white;
  overflow-y: scroll;
  z-index: 1000;
  padding-top: 10px;
}
.sidebar-container::-webkit-scrollbar {
  display: none;
}
.circle {
  width: 70px;
  height: 70px;
  background-color: black;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1vw;
}
.circle img {
  object-fit: cover;
}
.circle h1 {
  color: white;
  font-size: 5px;
  text-align: center;
  vertical-align: middle;
}

.game-container {
  position: absolute;
  width: 95%;
  height: 90%;
  background-color: black;
  border: 1px solid white;
  border-radius: 9px;
  margin: 3vw 3vw;
  overflow-x: scroll;
  overflow-y: hidden;
}
.game-grid{
  display: grid;
  padding: 10px;
  grid-template-columns: auto auto auto auto;

}
.game-icon {
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 25px;
  margin: 10px;
}

.header-container {
  position: absolute;
  left: 5vw;
  width: 95%;
  height: 10%;
  background-color: white;
}
